<body>
    <div class="container">
        <h1>POČETNA</h1>
        <div class="mb-3">
            <label id="username" class="form-label">Korisničko ime:</label>
            <input type="text" class="in" name="username" [(ngModel)]="username">
        </div>
        <div class="mb-3">
            <label id="password" class="form-label">Lozinka:</label>
            <input type="password" class="in" name="password" [(ngModel)]="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Tip:</label>
            <input type="radio" name="tip" id="kupac" [(ngModel)]="type" value="kupac"> Kupac
            <input type="radio" name="tip" id="prodavac" [(ngModel)]="type" value="prodavac"> Prodavac
        </div>
        <button class="btn-custom" (click)="login()">Uloguj se</button>
        <span>{{message}}</span>
    </div>
</body>
